{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warm_Com</title>
    <!-- bootstap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- liff sdk -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
</head>
<script>
    function getTitle(){
        let title = $('#title').val()
        return title 
    }
    function getContent(){
        let article = $('#article').val()
        return article
    }
    async function sendArticleInfo(){
        let profile = await getUserProfile();
        let data = {
            "user_id" : profile.userId,
            "title" : getTitle(),
            "content" : getContent(),
        }
        console.log(data)
        jq.post(
            "/api/article",
            data,
            (response) => {
                alert(response.message);
                closeLiffWindow();
            }
        )
    }
    $(document).ready(() => {
        $("#post").click(() => {
            sendArticleInfo()
        })
    });
</script>
<style>
    textarea{
        resize: none;
    }
</style>
<body>
    <div class="container">
        <h4>討拍發文</h4>
        <div class="type">
            <label>文章標題：</label>
            <input type="text" id="title">
        </div>
        <div class="article">
            <label>文章內容：</label><br>
            <textarea placeholder="想說點什麼?" cols="50%" rows="10%" id="article"></textarea>
        </div>
        <div class="post">
            <button type="button" class="btn btn-warning" id="post">立即發文</button>
        </div>
    </div>
</body>
</html>
