{% extends 'base.html' %}

{% block js_or_css %}
<script>
    function getTitle(){
        let title = $('#title').val()
        return title 
    }
    function getContent(){
        let article = $('#article').val()
        return article
    }
    async function sendArticleInfo(){
        let profile = await getUserProfile();
        let data = {
            "user_id" : profile.userId,
            "title" : getTitle(),
            "content" : getContent(),
        }
        console.log(data)
        jq.post(
            "/api/article",
            data,
            (response) => {
                alert(response.message);
                window.location.href = `/page/receive/${response.article_id}`;
            }
        )
    }
    $(document).ready(() => {
        $("#post").click(() => {
            showSpinner();
            sendArticleInfo()
        })
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="center">發表文章</h4>
    <div class="type padding-5">
        <label>文章標題：</label>
        <input type="text" id="title" placeholder="來個小標題吧">
    </div>
    <div class="article padding-5">
        <label>文章內容：</label><br>
        <textarea placeholder="想說點什麼?" cols="30%" rows="8%" id="article"></textarea>
    </div>
    <div class="post center">
        <button type="button" class="btn btn-warning" id="post">立即發文</button>
    </div>
</div>
{% endblock  %}
