{% extends 'base.html' %}
{% load static %}

{% block js_or_css %}
<script>
    function replaceCandle(){
        jq.get(
            "/api/articles?limit=5",
            {},
            (response) => {
                for (let i=0; i<response.length; i++) {
                    let id = response[i]["article_id"];
                    $(`#candle${i}`).attr('id',`${id}`);
                    if (response[i]["replies"] !== 0) {
                        $(`#${id}`).attr('src', `{% static 'img/candle-bright.png' %}`);
                    }
                }
            }
        )
    }
    function turnToReplyPage(item){
        let id = $(item).children().attr('id');
        window.location.href = `reply/${id}`;
    }
    $(document).ready(() => {
        replaceCandle()
    });
</script>
<style>
    #empty {
        position: absolute;
        left: 0%;
    }
    .candle {
        border: none;
        background: none;
    }
    .candle0 ,.candle1, .candle2, .candle3, .candle4 {
        position: absolute;
        width: 70px;
    }
    .candle0 {
        left: 14%;
        top: 37%;
    }
    .candle1 {
        left: 28%;
        top: 29%;
    }
    .candle2 {
        left: 43%;
        top: 38%;
    }
    .candle3 {
        left: 50%;
        top: 25%;
    }
    .candle4 {
        left: 66%;
        top: 41%;
        width: 90px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="center">
        <img src="{% static 'img/warm_com_empty.png' %}" alt="image" width="375px" id="empty">
    </div>
    <div class="candles">
        <button class="candle" onclick="turnToReplyPage(this)">
            <img src="{% static 'img/candle-dark.png' %}" alt="image" id="candle0" class="candle0">
        </button>
        <button class="candle" onclick="turnToReplyPage(this)">
            <img src="{% static 'img/candle-dark.png' %}" alt="image" id="candle1" class="candle1">
        </button>
        <button class="candle" onclick="turnToReplyPage(this)">
            <img src="{% static 'img/candle-dark.png' %}" alt="image" id="candle2" class="candle2">
        </button>
        <button class="candle" onclick="turnToReplyPage(this)">
            <img src="{% static 'img/candle-dark.png' %}" alt="image" id="candle3" class="candle3">
        </button>
        <button class="candle" onclick="turnToReplyPage(this)">
            <img src="{% static 'img/candle-dark.png' %}" alt="image" id="candle4" class="candle4">
        </button>
    </div>
</div>
{% endblock  %}
