{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warm_Com</title>
    <!-- bootstap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
</head>
<script>
    function replaceCandle(){
        jq.get(
            "/api/articles?limit=5",
            {},
            (response) => {
                for (let i=0; i<response.length; i++) {
                    let id = response[i]["article_id"];
                    $(`#candle${i}`).attr('id',`${id}`);
                    if (response[i]["replies"] === 0) {
                        $(`#${id}`).attr('src', `{% static 'img/candle-dark.png' %}`);
                    }
                }
            }
        )
    }
    function turnToReplyPage(item){
        let id = $(item).children().attr('id');
        window.location.href = `reply/${id}`;
    }
    $(document).ready(() => {
        replaceCandle()
    });
</script>
<style>
    .candle {
        border: none;
        background: none;
    }
    .candle0 ,.candle1, .candle2, .candle3, .candle4 {
        position: absolute;
        width: 70px;
    }
    .candle0 {
        left: 14%;
        top: 37%;
    }
    .candle1 {
        left: 28%;
        top: 29%;
    }
    .candle2 {
        left: 43%;
        top: 38%;
    }
    .candle3 {
        left: 50%;
        top: 25%;
    }
    .candle4 {
        left: 66%;
        top: 41%;
        width: 90px;
    }
</style>
<body>
    <div class="container">
        <div>
            <img src="{% static 'img/warm_com_empty.png' %}" alt="image" width="360px">  <!-- width="400px" -->
        </div>
        <div class="candles">
            <button class="candle" onclick="turnToReplyPage(this)">
                <img src="{% static 'img/candle-bright.png' %}" alt="image" id="candle0" class="candle0">
            </button>
            <button class="candle" onclick="turnToReplyPage(this)">
                <img src="{% static 'img/candle-bright.png' %}" alt="image" id="candle1" class="candle1">
            </button>
            <button class="candle" onclick="turnToReplyPage(this)">
                <img src="{% static 'img/candle-bright.png' %}" alt="image" id="candle2" class="candle2">
            </button>
            <button class="candle" onclick="turnToReplyPage(this)">
                <img src="{% static 'img/candle-bright.png' %}" alt="image" id="candle3" class="candle3">
            </button>
            <button class="candle" onclick="turnToReplyPage(this)">
                <img src="{% static 'img/candle-bright.png' %}" alt="image" id="candle4" class="candle4">
            </button>
        </div>
    </div>
</body>
</html>