{% extends 'base.html' %}

{% block js_or_css %}
<script>
    async function putAllArticle(){
        let profile = await getUserProfile();
        let reply = $('.reply');
        jq.get(
            `/api/articles/${profile.userId}`,
            {},
            (response) => {
                for (let element of response["articles"]) {
                    let limitLength = 40;
                    if (element["content"].length > limitLength) {
                        element["content"] = element["content"].substring(0, limitLength) + "...";
                    }
                    reply.append(
                        `
                        <div class="card w-100 margin-10 height-100">
                            <div class="card-body">
                                <h6 class="card-title">${element["title"]}</h6>
                                <small>${element["time"]}</small>
                                <p>${element["content"]}</p>
                                <div class="right">
                                    <small>留言數：${element["replies"]}</small>
                                    <button type="button" class="btn btn-warning" id="reply-${element["article_id"]}" 
                                        onclick="watchAllReplies(${element["article_id"]})"
                                    >
                                        查看留言
                                    </button>
                                </div>
                            </div>
                        </div>
                        `
                    )
                }
            }
        )
    }
    function watchAllReplies(id){
        console.log("success")
        window.location.href =`/page/receive/${id}`;
    }
    $(document).ready(() => {
        putAllArticle()
    });
</script>
<style>
    .margin-10 {
        margin-bottom: 10px;
    }
    .card-body {
        border: 1px solid #FFD306;
    }
    .card-title {
        margin: 0;
    }
    .right {
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
    .height-100 {
        height: 180px;
    }
    span {
        position: relative;
        left: 0%;
    }
    p {
        padding: 10px;
        margin: 0;
    }
    small {
        padding-right: 6px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="center">收到的溫暖</h4>
    <div class="reply"></div>
</div>
{% endblock  %}
