{% extends 'base.html' %}

{% block js_or_css %}
<script>
    function getType(){
        let type = $('#type').val()
        return type
    }
    function getBrief(){
        let brief = $('#brief').val()
        return brief
    }
    async function sentPairInfo(){
        let profile = await getUserProfile();
        let data = {
            "user_id" : profile.userId,
            "brief" : getBrief(),
            "types" : getType(),
        }
        jq.post(
            "/api/pair",
            data,
            (response) => {
                closeLiffWindow();
            }
        )
    }
    $(document).ready(() => {
        $("#pair").click(async () => {
            showSpinner();
            await sentPairInfo();
        })
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="center">配對</h4>
    <div class="type padding-5">
        <label>諮商類別：</label>
        <select class="selectpicker" multiple title="請選擇類別" id="type">
            <option value="1">人際</option>
            <option value="2">經濟</option>
            <option value="3">學業</option>
            <option value="4">事業</option>
            <option value="5">感情</option>
            <option value="6">其他</option>
        </select>
    </div>
    <div class="brief padding-5">
        <label>想和諮商師說些什麼：</label><br>
        <textarea placeholder="簡述一下" cols="30%" rows="8%" id="brief"></textarea>
    </div>
    <div class="pair center">
        <button type="button" class="btn btn-warning" id="pair">立即配對</button>
    </div>
</div>
{% endblock  %}
