{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warm_Com</title>
    <!-- bootstap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- switch -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js" data-turbolinks-track="true"></script>
    
    <!-- multi select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- liff sdk -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
</head>
<script>
    function getGender(){
        let gender = $('input[name=genderInline]:checked').val()
        if (gender === "none")
            return null
        return Number(gender)
    }
    function getAge(){
        let age = $("#age").val()
        if (age === "")
            return null
        return Number(age)
    }
    function getJob(){
        let job = $("#job").val()
        if (job === "")
            return null
        return job
    }
    function isProfessional(){
        let is_professional = $('input[name=profession]:checked').val()
        return Boolean(is_professional)
    }
    function canBePaired(){
        let can_be_paired = $('#pair').bootstrapSwitch('state');
        return can_be_paired
    }
    function getTypes(){
        let type = $('#type').val()
        return type
    }

    async function sendProfile() {
        let profile = await getUserProfile();
        let data = {
            "user_id" : profile.userId,
            "user_name" : profile.displayName,
            "image" : profile.pictureUrl,
            "gender" : getGender(),
            "age" : getAge(),
            "job" : getJob(),
            "description" : "...",
            "is_professional" : isProfessional(),
            "can_be_paired" : canBePaired(),
            "targets" : getTypes()
        }
        jq.post(
            "/api/counselor",
            data,
            (response) => {
                alert(response.message);
                closeLiffWindow();
            }
        )
        
    }
    $(document).ready(() => {
        $("#save").click(() => {
            sendProfile();
        })
    });
</script>
<body>
    <div class="container">
        <h4>基本資料</h4>
        <div class="gender">
            <span>性別：</span>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="gender-male" name="genderInline" class="custom-control-input" value="男">
                <label class="custom-control-label" for="gender-male">男</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="gender-female" name="genderInline" class="custom-control-input" value="女">
                <label class="custom-control-label" for="gender-female">女</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="profess" name="genderInline" class="custom-control-input" value="不透漏">
                <label class="custom-control-label" for="profess">不願透露</label>
            </div>
        </div>
        <div class="age">
            <label>年齡：</label>
            <input type="text" id="age">
            <span>(若不願透露則空白)</span>
        </div>
        <div class="job">
            <label>職業：</label>
            <input type="text" id="job">
        </div>
        <div class="handle">
            <label>負責領域：</label> 
            <select class="selectpicker" multiple title="請選擇類別" id="type">
                <option value="1">人際</option>
                <option value="2">經濟</option>
                <option value="3">學業</option>
                <option value="4">事業</option>
                <option value="5">感情</option>
                <option value="6">其他</option>
            </select>
        </div>
        <div class="professional">
            <label>是否有諮商師執照：</label>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="pro" name="profession" class="custom-control-input" value="1">
                <label class="custom-control-label" for="pro">是</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="non-pro" name="profession" class="custom-control-input" value="">
                <label class="custom-control-label" for="non-pro">否</label>
            </div>
        </div>
        <div class="pair">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="pair" name="pair">
                <label class="custom-control-label" for="pair">開啟配對機制(***待處理***)</label>
            </div>
        </div>
        <div class="save">
            <button type="button" class="btn btn-primary" id="save">儲存</button>
        </div>
    </div>
</body>
</html>