{% extends 'base.html' %}

{% block js_or_css %}
<script>
    function getGender(){
        let gender = $('input[name=genderInline]:checked').val()
        return gender
    }
    function getAge(){
        let age = $("#age").val()
        if (age === "")
            return null
        return age
    }
    function getJob(){
        let job = $("#job").val()
        if (job === "")
            return null
        return job
    }
    function getDescription(){
        let description = $("#description").val()
        if (description === "")
            return null
        return description
    }
    function isProfessional(){
        let is_professional = $('input[name=profession]:checked').val()
        return Boolean(is_professional)
    }
    function canBePaired(){
        let can_be_paired = $('#pair').prop('checked');
        return can_be_paired;
    }
    function getTypes(){
        let type = $('#type').val()
        return type
    }
    function getLineId(){
        let line_id = $('#text-line-id').val()
        return line_id
    }
    async function sendProfile() {
        let profile = await getUserProfile();
        let data = {
            "user_id" : profile.userId,
            "user_name" : profile.displayName,
            "image" : profile.pictureUrl,
            "gender" : getGender(),
            "age" : getAge(),
            "job" : getJob(),
            "description" : getDescription(),
            "is_professional" : isProfessional(),
            "can_be_paired" : canBePaired(),
            "targets" : getTypes(),
            "line_id" : getLineId()
        }
        // console.log(data)
        jq.post(
            "/api/counselor",
            data,
            (response) => {
                alert(response.message);
                closeLiffWindow();
            }
        )
        
    }
    
    async function loadProfile() {
        let profile = await getUserProfile();
        jq.get(
            `/api/counselor/${profile.userId}`,
            {},
            (response) => {
                console.log(response)
                $(`input[name=genderInline][value="${response.gender}"]`).prop("checked", true);
                $("#age").val(response.age);
                $("#job").val(response.job);
                $("#description").val(response.description);
                $(`input[name=profession][value="${response.is_professional}"]`).prop("checked", true);
                if (response.can_be_paired) {
                    $('#pair').prop('checked', true);
                }
                $('#type').val(response.targets);
                $('.selectpicker').selectpicker('refresh')
                $('#text-line-id').val(response.line_id);
            }
        )
    }
    $(document).ready(() => {
        loadProfile();
        $("#save").click(() => {
            sendProfile();
        })
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="center">基本資料</h4>
    <div class="gender padding-5">
        <span>性別：</span>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="gender-male" name="genderInline" class="custom-control-input" value="男">
            <label class="custom-control-label" for="gender-male">男</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="gender-female" name="genderInline" class="custom-control-input" value="女">
            <label class="custom-control-label" for="gender-female">女</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="profess" name="genderInline" class="custom-control-input" value="不透露">
            <label class="custom-control-label" for="profess">不願透露</label>
        </div>
    </div>
    <div class="age padding-5">
        <label>年齡：</label>
        <input type="text" id="age" placeholder="不願透露則留白"><br>
    </div>
    <div class="job padding-5">
        <label>職業：</label>
        <input type="text" id="job" placeholder="不願透露則留白"><br>
    </div>
    <div class="description padding-5">
        <label>簡介：</label>
        <textarea placeholder="讓人更了解你吧!" cols="25%" rows="5%" id="description"></textarea>
    </div>
    <div class="handle padding-5">
        <label>負責領域：</label> 
        <select class="selectpicker" multiple title="請選擇類別" id="type">
            <option value="1">人際</option>
            <option value="2">經濟</option>
            <option value="3">學業</option>
            <option value="4">事業</option>
            <option value="5">感情</option>
            <option value="6">其他</option>
        </select>
    </div>
    <div class="professional padding-5">
        <label>是否有諮商師執照：</label>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="pro" name="profession" class="custom-control-input" value="true">
            <label class="custom-control-label" for="pro">是</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="non-pro" name="profession" class="custom-control-input" value="false">
            <label class="custom-control-label" for="non-pro">否</label>
        </div>
    </div>
    <div class="line-id padding-5">
        <label id="label-line-id padding-5">Line ID：</label>
        <input type="text" id="text-line-id" placeholder="請務必要填寫正確"><br>
    </div>
    <div class="pair center">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="pair" name="pair">
            <label class="custom-control-label" for="pair">開啟配對機制</label>
        </div>
    </div>
    <div class="save center">
        <button type="button" class="btn btn-warning" id="save">儲存</button>
    </div>
</div>
{% endblock  %}
