{% extends 'base.html' %}

{% block js_or_css %}
<style>
    #back {
        position:absolute;
        right: 0%;
    }
    #date {
        text-align: center;
    }
    .card-body, .card-header {
        border: 1px solid;
    }
    .article {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .card-header{
        background-color: #FFED97;
    }
    .card-body-thin {
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #ffee974c;
    }
    img {
        display: inline-block;
        margin-top: 7%;
        margin-bottom: 2%;
    }
    h6, p {
        margin: 0;
    }
</style>
<script>
    function putArticle(article){
        $('#date small').text(article["time"])
        $('#title').text(article["title"])
        $('#content').text(article["content"])
    }
    function putReply(replies){
        let reply = $('.reply')
        for (let element of replies) {
            reply.append(
                `
                <div class="card  mb-3">
                    <div class="card-body text-dark card-body-thin">
                    <p class="card-text">${element["content"]}</p>
                    </div>
                </div>
                `
            )
        }
    }
    $(document).ready(() => {
        let articleId = $("#article-id").val();
        jq.get(
            `/api/article/${articleId}`,
            {},
            (response) => {
                putArticle(response);
                putReply(response.replies);
            }
        )
        $("#back").click(() => {
            window.location.replace("my-articles");
        })
});
</script>
{% endblock %}

{% block content %}
<input type="hidden" name="article-id" id="article-id" value="{{ article_id }}">
<div class="container">
    <div class="back">
        <button type="button" class="btn" id="back">
            <img src="{% static 'img/back.png' %}" alt="image" width="30px">
        </button>
    </div>
    <div class="date" id="date">
        <img src="{% static 'img/candle-bright.png' %}" alt="image" width="70px"><br>
        <small>date</small>
    </div>
    <div class="article">
        <div class="card">
            <div class="card-header">
              <h6 id="title">Title</h6>
            </div>
            <div class="card-body">
                <p id="content">content</p>
            </div>
          </div>
    </div>
    <div class="reply"></div>
</div>
{% endblock  %}
